@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-deep: #4a0e4e;
  --pink-electric: #ff00ff;
  --blue-neon: #00ffff;
}

body {
  @apply bg-gradient-to-br from-indigo-950 via-black to-violet-950 min-h-screen text-white font-oswald;
  background-size: 300% 300%;
  animation: gradientFlow 10s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3 {
  @apply font-oswald font-semibold;
}
